simanod
*~
client/.deps/
client/Makefile
client/Makefile.in
client/aclocal.m4
client/autom4te.cache/
client/config.h
client/config.h.in
client/config.log
client/config.status
client/configure
client/simano-simano.o
client/stamp-h1
client/po/Makefile
client/po/Makefile.in
client/po/POTFILES
client/po/ja.gmo
client/po/stamp-it
server/.deps/
server/Makefile
server/Makefile.in
server/aclocal.m4
server/autom4te.cache/
server/config.h
server/config.h.in
server/config.log
server/config.status
server/configure
server/*.o
server/stamp-h1
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
configure
